@mixin airQuality($gridArea) {
    .airQuality {
        grid-area: $gridArea;

        @include flexEixoY;

        .head-air {
            @include flexEixoX;

            

            .h2-air {
                @include font-16;

                color:#E7E6FB;
            }
        }


        .main-air {
            margin-top: -1.2rem;
                
            .p-main-air {
                @include font-18;

                color: #87EBCD;
            }

            .stg-main-air {
                @include font-40;

                color: #E7E6FB;
            }
        }

        .numbers-air {
            width: 100%;

            display: flex;
            justify-content: space-around;
            

            .info-num {
                margin-bottom: 1rem;

                .p-info-num {
                    @include font-14;

                    color: #87EBCD;
                }
                .span-info-num {
                    text-align: center;
                    color: #E7E6FB;

                    @include font-12;
                }
            }
        }
    }
}