@mixin sunTime($gridArea) {
    .sunTime {
        grid-area: $gridArea;

        @include flexEixoY;

        .head-sun {
            @include flexEixoX;

            .icon-sun {
                svg {
                    path {
                        fill: var(--icon-air-sun)
                    }
                }
            }

            .h2-sun {
                @include font-16;

                color: var(--head-air-sun);
            }
        }

        .main-sun {
            margin-bottom: 1rem;

            svg {
                .icon-main-sun {
                    fill: var(--icon-main-sun);
                }
            }
        }
    }
}