

@mixin tempNow($gridArea) {
    .tempNow {
        // width: 480px;
        height: 480px;
        grid-area: $gridArea;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: url('../../assets/bgnuvem.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        .head-tempNow {
            width: 100%;
            height: 80px;


            position: relative;

            .nuvens {
                width: 176px;
                height: 176px;
                background-image: url('../../assets/nuvens.svg');
                background-repeat: no-repeat;
               
                background-size: contain;

                position: absolute;
                top: -56px;
                left: -56px;

            }

            .city {
                display: flex;
                align-items: center;
                gap: 10px;

                position: absolute;
                top: 33px;
                right: 32px;

                .text-city {
                    color: #C2BFF4;
                    @include font-14;    
                }
            }
        }


        .main-tempNow {
            width: 100%;
            display: flex;
            justify-content: center;

            .temperature {
                margin-top: -6rem;
                .div-temperature {
                    width: 10.3rem;
                    height: 10.6rem;

                    .h1-temp {
                        color: #FFFFFF;
                        margin: 0;
                        padding: 0;

                        @include font-88;

                        display: flex;
                        align-items: start;
                        gap: 1rem;

                        

                        .span-temp {
                            color: #DAD8F7;

                            @include font-24;
                        }
                    }
                }

                .p-temp {
                    color: #FFFFFF;

                    @include font-20;

                    text-align: center;
                }
            }
        }

        

        .foo-tempNow {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          
            gap: 1rem;

            padding: 1rem;

            .statistics {
                // width: 14rem;
                // height: 6rem;
                
                background: rgba(102, 96, 200, 0.6);
                border-radius: 6px;

                display: flex;
                align-items: center;
                
                gap: 1rem;
                padding: 1rem;

                .info-statics {
                    color: #FFFFFF;

                    @include font-12;

                    span {
                        color: #DAD8F7;

                        
                    }
                }
            }
        }
    }
}