body.dracula {
    --img-bg: initial;
    --img-bg-tempNow: initial;

    --bg-color: #262626; 
    --bg-color-week: #282A36;

    --shawdow-b-week: #9B6BDF;

    --icon-head: #50FA7B;

    --text-city: #E356A7;

    --h1-temp: #F1FA8C;
    --span-temp: #42E66C;
    --p-temp: #E4F34A;
    --bg-statistics: transparent;
    --icon-statics: #EFA554;
    --info-statics: #8BE9FD;
    --span-info: #75D7EC;

    --icon-air-sun: #50FA7B;
    --head-air-sun: #E356A7;

    --air-p-num: #42E66C;
    --air-strong-info: #F1FA8C;

    --icon-main-sun: #E64747;

    --h3-days: #FFB86C;
    --foo-p-days: #75D7EC;
    --s-foo-days: #FF5555;
}
// #141420
// #1f1d2b

// #262626
// #E356A7
// #42E66C
// #E4F34A
// #9B6BDF
// #E64747
// #75D7EC
// #EFA554
// #7A7A7A
// #FF79C6
// #50FA7B
// #F1FA8C
// #BD93F9
// #FF5555
// #8BE9FD
// #FFB86C
