body.geleia {
    --img-bg: url('../../assets/Background.png');
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #6D67D0;
    --bg-color-week: #ef3353; 

    --shawdow-b-week: #f4b036;

    --img-nuvem-tempNow: initial;
    --icon-head: #f4b036;

    --text-city: #f4b036;

    --h1-temp: #723e4e;
    --span-temp: #b03851;
    --p-temp: #723e4e;
    --bg-statistics: #f4b036;
    --icon-statics: #b03851;
    --info-statics: #b03851;
    --span-info: ;

    --icon-air-sun: #f4b036;
    --head-air-sun: #f4b036;

    --air-p-num: #f17144;
    --air-strong-info: #723e4e;

    --icon-main-sun: #f4b036;

    --h3-days: #723e4e;
    --foo-p-days: #f4b036;
    --s-foo-days:#f17144;
}

// .color1 { #723e4e };
// .color2 { #b03851 };
// .color3 { #ef3353 };
// .color4 { #f17144 };
// .color5 { #f4b036 };