:root {
    --img-bg: url('../../assets/Background.png');
    --blur-bg: filter: blur(20px);
}


body {
    background-image: var(--img-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}