body.massaRosa {
    --img-bg: initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #ce7095 ;
    --bg-color-week: #855e6e; 

    --shawdow-b-week: #f7f1e1;

    --icon-head: #ffdbd7;

    --text-city: #ffdbd7;

    --h1-temp: #f7f1e1;
    --span-temp: #f7f1e1;
    --p-temp: #f7f1e1;
    --bg-statistics: #ce7095;
    --icon-statics: #ffdbd7;
    --info-statics: #f7f1e1;
    --span-info: #f7f1e1;

    --icon-air-sun: #ffdbd7;
    --head-air-sun: #ffdbd7;

    --air-p-num: #ffb2c1;
    --air-strong-info: #ce7095;

    --icon-main-sun: #ffdbd7;

    --h3-days: #ffb2c1;
    --foo-p-days: #f7f1e1;
    --s-foo-days:#ffdbd7;
}

// .color1 { #f7f1e1 };
// .color2 { #ffdbd7 };
// .color3 { #ffb2c1 };
// .color4 { #ce7095 };
// .color5 { #855e6e };