body.sorvete {
    --img-bg: initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #E7E6FB;
    --bg-color-week: #05a1ad; 

    --shawdow-b-week: initial;

    --icon-head: #4e031e;

    --text-city: #5a4c6e;

    --h1-temp: #5a4c6e;
    --span-temp: #5d2d4e;
    --p-temp: #5a4c6e;
    --bg-statistics: #447390;
    --icon-statics: #5d2d4e;
    --info-statics:  #4e031e;
    --span-info:  #4e031e;

    --icon-air-sun: #4e031e;
    --head-air-sun: #5a4c6e;

    --air-p-num: #4e031e;
    --air-strong-info: #5a4c6e;

    --icon-main-sun: #4e031e;

    --h3-days: #5d2d4e;
    --foo-p-days: #4e031e;
    --s-foo-days:#5a4c6e;
}

// .color1 { #4e031e };
// .color2 { #5d2d4e };
// .color3 { #5a4c6e };
// .color4 { #447390 };
// .color5 { #05a1ad };