body.temaBlack {
    --img-bg:initial;
    --img-bg-tempNow: initial;
    --blur-bg: filter: blur(20px);

    --bg-color: #000000f3;
    --bg-color-week: #212121; 

    --shawdow-b-week: initial;

    --icon-head: #DAD8F7;

    --text-city: #E7E6FB;

    --h1-temp: #FFFFFF;
    --span-temp: #DAD8F7;
    --p-temp: #FFFFFF;
    --bg-statistics: #07976c;
    --icon-statics: white;
    --info-statics: #FFFFFF;
    --span-info: #DAD8F7;

    --icon-air-sun: #DAD8F7;
    --head-air-sun: #E7E6FB;

    --air-p-num: #87EBCD;
    --air-strong-info: #E7E6FB;

    --icon-main-sun: white;

    --h3-days: #DAD8F7;
    --foo-p-days: #FFFFFF;
    --s-foo-days:#DAD8F7;
}